In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
dataset= pd.read_csv("preprocessed_Rainfall_dataset.csv")

In [5]:
dataset

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,rainfall,sunshine,winddirection,windspeed
0,1,1025.9,19.9,18.3,16.8,13.1,72,49,yes,9.3,80.0,26.3
1,2,1022.0,21.7,18.9,17.2,15.6,81,83,yes,0.6,50.0,15.3
2,3,1019.7,20.3,19.3,18.0,18.4,95,91,yes,0.0,40.0,14.2
3,4,1018.9,22.3,20.6,19.1,18.8,90,88,yes,1.0,50.0,16.9
4,5,1015.9,21.3,20.7,20.2,19.9,95,81,yes,0.0,40.0,13.7
...,...,...,...,...,...,...,...,...,...,...,...,...
361,27,1022.7,18.8,17.7,16.9,15.0,84,90,yes,0.0,30.0,18.4
362,28,1026.6,18.6,17.3,16.3,12.8,75,85,yes,1.0,20.0,25.9
363,29,1025.9,18.9,17.7,16.4,13.3,75,78,yes,4.6,70.0,33.4
364,30,1025.3,19.2,17.3,15.2,13.3,78,86,yes,1.2,20.0,20.9
365,31,1026.4,20.5,17.8,15.5,13.0,74,66,no,5.7,20.0,23.3

In [7]:
dataset.isnull().sum()

day              0
pressure         0
maxtemp          0
temparature      0
mintemp          0
dewpoint         0
humidity         0
cloud            0
rainfall         0
sunshine         0
winddirection    0
windspeed        0
dtype: int64

In [9]:
# Step 1: Convert 'rainfall' to binary (if not already done)
dataset['rainfall'] = dataset['rainfall'].apply(lambda x: 1 if x == 'yes' else 0)

In [11]:
dataset

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,rainfall,sunshine,winddirection,windspeed
0,1,1025.9,19.9,18.3,16.8,13.1,72,49,1,9.3,80.0,26.3
1,2,1022.0,21.7,18.9,17.2,15.6,81,83,1,0.6,50.0,15.3
2,3,1019.7,20.3,19.3,18.0,18.4,95,91,1,0.0,40.0,14.2
3,4,1018.9,22.3,20.6,19.1,18.8,90,88,1,1.0,50.0,16.9
4,5,1015.9,21.3,20.7,20.2,19.9,95,81,1,0.0,40.0,13.7
...,...,...,...,...,...,...,...,...,...,...,...,...
361,27,1022.7,18.8,17.7,16.9,15.0,84,90,1,0.0,30.0,18.4
362,28,1026.6,18.6,17.3,16.3,12.8,75,85,1,1.0,20.0,25.9
363,29,1025.9,18.9,17.7,16.4,13.3,75,78,1,4.6,70.0,33.4
364,30,1025.3,19.2,17.3,15.2,13.3,78,86,1,1.2,20.0,20.9
365,31,1026.4,20.5,17.8,15.5,13.0,74,66,0,5.7,20.0,23.3

In [13]:
dataset = pd.get_dummies(dataset,dtype =int,drop_first = True)

In [15]:
dataset

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,rainfall,sunshine,winddirection,windspeed
0,1,1025.9,19.9,18.3,16.8,13.1,72,49,1,9.3,80.0,26.3
1,2,1022.0,21.7,18.9,17.2,15.6,81,83,1,0.6,50.0,15.3
2,3,1019.7,20.3,19.3,18.0,18.4,95,91,1,0.0,40.0,14.2
3,4,1018.9,22.3,20.6,19.1,18.8,90,88,1,1.0,50.0,16.9
4,5,1015.9,21.3,20.7,20.2,19.9,95,81,1,0.0,40.0,13.7
...,...,...,...,...,...,...,...,...,...,...,...,...
361,27,1022.7,18.8,17.7,16.9,15.0,84,90,1,0.0,30.0,18.4
362,28,1026.6,18.6,17.3,16.3,12.8,75,85,1,1.0,20.0,25.9
363,29,1025.9,18.9,17.7,16.4,13.3,75,78,1,4.6,70.0,33.4
364,30,1025.3,19.2,17.3,15.2,13.3,78,86,1,1.2,20.0,20.9
365,31,1026.4,20.5,17.8,15.5,13.0,74,66,0,5.7,20.0,23.3

In [17]:
dataset["rainfall"].value_counts()

rainfall
1    249
0    117
Name: count, dtype: int64

In [19]:
dataset.columns

Index(['day', 'pressure', 'maxtemp', 'temparature', 'mintemp', 'dewpoint',
       'humidity', 'cloud', 'rainfall', 'sunshine', 'winddirection',
       'windspeed'],
      dtype='object')

In [21]:
independent = dataset[['day', 'pressure', 'maxtemp', 'temparature', 'mintemp', 'dewpoint',
                'humidity', 'cloud','sunshine', 'winddirection','windspeed']]

In [23]:
independent

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
0,1,1025.9,19.9,18.3,16.8,13.1,72,49,9.3,80.0,26.3
1,2,1022.0,21.7,18.9,17.2,15.6,81,83,0.6,50.0,15.3
2,3,1019.7,20.3,19.3,18.0,18.4,95,91,0.0,40.0,14.2
3,4,1018.9,22.3,20.6,19.1,18.8,90,88,1.0,50.0,16.9
4,5,1015.9,21.3,20.7,20.2,19.9,95,81,0.0,40.0,13.7
...,...,...,...,...,...,...,...,...,...,...,...
361,27,1022.7,18.8,17.7,16.9,15.0,84,90,0.0,30.0,18.4
362,28,1026.6,18.6,17.3,16.3,12.8,75,85,1.0,20.0,25.9
363,29,1025.9,18.9,17.7,16.4,13.3,75,78,4.6,70.0,33.4
364,30,1025.3,19.2,17.3,15.2,13.3,78,86,1.2,20.0,20.9
365,31,1026.4,20.5,17.8,15.5,13.0,74,66,5.7,20.0,23.3

In [25]:
dependent = dataset[["rainfall"]]

In [27]:
dependent

     rainfall
0           1
1           1
2           1
3           1
4           1
..        ...
361         1
362         1
363         1
364         1
365         0

[366 rows x 1 columns]

In [29]:
independent.shape

(366, 11)

In [31]:
dependent.shape

(366, 1)

In [33]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(independent,dependent,test_size = 0.30,random_state = 0)

In [34]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(x_train,y_train)
y_pred = classifier.predict(x_test)
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)
from sklearn.metrics import classification_report
clf_report = classification_report(y_test,y_pred)
print(clf_report)
print(cm)

              precision    recall  f1-score   support

           0       0.66      0.75      0.70        36
           1       0.87      0.81      0.84        74

    accuracy                           0.79       110
   macro avg       0.76      0.78      0.77       110
weighted avg       0.80      0.79      0.79       110

[[27  9]
 [14 60]]

In [37]:
from sklearn.naive_bayes import BernoulliNB
classifier = BernoulliNB()
classifier.fit(x_train,y_train)
y_pred = classifier.predict(x_test)
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)
from sklearn.metrics import classification_report
clf_report = classification_report(y_test,y_pred)
print(clf_report)
print(cm)

              precision    recall  f1-score   support

           0       0.00      0.00      0.00        36
           1       0.67      1.00      0.80        74

    accuracy                           0.67       110
   macro avg       0.34      0.50      0.40       110
weighted avg       0.45      0.67      0.54       110

[[ 0 36]
 [ 0 74]]